{% extends "_base.html" %}
{% load static %}

{% block head %}
<title>About DDatacupboard</title>
{% endblock head %}

{% block body %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="DDatacupboard logo" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">What is DDatacupboard?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Looking to give your AI projects a boost? You're in the right place! At DDatacupboard, we've curated a diverse collection of datasets just for you. Say goodbye to the hassle of searching for data – with us, it's as easy as a few clicks. <br> <br>
        Whether you're a seasoned researcher or just starting out in the world of AI, our platform offers something for everyone. Dive in now and fuel your innovation with our easy-to-access datasets!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/" type="button" class="btn btn-dark btn-lg px-4 gap-3">View dataset</a>
        </div>
    </div>
</div>
{% endblock body %}